---
import Banner from '../components/Banner.astro';
import { getCollection } from 'astro:content';

const valid_tags = ['upper-back', 'lower-back', 'mid-back']
const stretches = await getCollection('stretches', ({ data }) => {
  return data.targets.filter(target => valid_tags.includes(target))
});

---


<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <Banner />
      <ul>
        <h2>Upper Back</h2>
      {stretches.filter(stretch=>stretch.data.targets.includes('upper-back')).map(stretch => (
        <li><a href={`/stretch-rx/stretch/${stretch.id}`}>{stretch.data.title}</a></li>
      ))}

	<h2>Mid Back</h2>
      {stretches.filter(stretch=>stretch.data.targets.includes('mid-back')).map(stretch => (
        <li><a href={`/stretch-rx/stretch/${stretch.id}`}>{stretch.data.title}</a></li>
      ))}
 	
	<h2>Lower Back</h2>
      {stretches.filter(stretch=>stretch.data.targets.includes('lower-back')).map(stretch => (
        <li><a href={`/stretch-rx/stretch/${stretch.id}`}>{stretch.data.title}</a></li>
      ))}
	
	
      </ul>
  </body>
</html>
